@import "mixin";
// havent used this styling , so ignore this file all the file here
.admin_dashboard{
    @include grid(1fr 4fr);
    height: 100vh;
    background-color: rgb(204, 204, 204);
    >aside{
        width: 100%;
        background-color: white;
    }
}